@media only screen and (max-width: 750px) {
    #top {
        display: none;
    }

    #mobile {
        background-color: #E5E5E5;
        text-align: center;
        font-size: 25px;
    }
}

@media only screen and (min-width: 750px) {
    #mobile {
        display: none;
    }
}

.btn-file-choose {
    width: 60%;
}

.box-labels {
    font-family: 'Lato', sans-serif;
    font-size: 20px;
}

.C-HEADING {
    font-size: 4.5em;
}

.clr {
    background-color: #f5f5f5;
}

.card-images {
    width: "100%";
    height: 225px
}

.card-content {
    font-family: 'IBM Plex Serif', serif;
    font-size: 20px;
    text-align: center;
}

.carousel-heading {
    text-align: center;
    font-family: 'IBM Plex Sans', sans-serif;
}

.c2 {
    color: black;
    top: 40px;
}

.heading1 {
    position: relative;
    right: 50%;
    margin-left: 10%;
    font-size: 200%;
}

.heading2 {
    position: relative;
    right: 50%;
    margin-left: 10%;
}

.c-heading {
    font-family: 'Ubuntu', sans-serif;
}

.c3 {
    position: relative;
    bottom: 260px;
    right: 50%;
    margin-left: 10%;
}

.diagnosis {

    margin-left: 10%;
}

.description {
    display: inline-block;
    color: #1D3549
}

.forms-model {
    margin-left: 15%;
    margin-right: 15%;
}

input[type=text] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    box-sizing: border-box;
}

input,
textarea,
select,
button {
    width: 150px;
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.img-card {
    display: block;
    margin: auto;
}

.info {
    text-align: center;
    font-size: 20px;
    font-family: 'IBM Plex Sans', sans-serif;
}

#mid2 {
    margin-left: 5%;
    margin-right: 5%;
}

.opt1 {
    color: #f7f7f7;
}

.prediction {
    background-color: #fff;
}

.reset {
    margin-left: 80%;
}

.req {
    font-size: 16px;
}

.skip-me {
    display: none;
}



.tester {
    margin-left: 5%;
    margin-right: 5%;
}

.unhide {
    display: block;
}





/* html, body {
    max-width: 100%;
    overflow-x: hidden;
} */