/* #top {
    height: 75%;
    margin: 0;
    background-image: url('b2.jpg');
} */
html {
    width: 100%;
}

.heading {
    position: absolute;
    margin-left: 26%;
    margin-right: 5px;
    top: 15%;
    font-family: 'Dosis', sans-serif;
}

.h-1 {
    /* top: 10%; */
    /* display: inline-block; */
    /* top: 50%; */
    font-size: 2.5vw;
}

.h-2 {
    font-size: 3.5vw;
}

.image {
    position: relative;
    height: 75%;
    width: 100%;
}

.inside-image {
    position: absolute;
    margin-top: 3%;
    margin-left: 25%;
}

.outside-image {
    position: absolute;
    height: 75%;
    width: 100%;
}

.content {
    text-align: center;
}

@media screen and (max-width: 610px) {
    .content-image {
        display: none;
        width: 0;
    }
}

@media screen and (max-width: 1000px) {
    .content-image {
        width: 100%;
        height: 100%;
    }
}

@media screen and (min-width: 1001px) {
    .content-image {
        width: 200%;
        height: 200%;
    }
}

.content-image {
    text-align: center;
    width: 200px;
    height: 80px;
    margin: 20px;
}

.symptoms-table {
    overflow: hidden;
    width: 100%;
    background: #F5EDDC;
    /* padding: 50px; */
    margin-right: 20px;
    margin-left: 20px;
}

.symp-content {
    text-align: justify;
    padding: 0px, 15px, 0px, 15px;
    font-family: 'Gulzar', serif;
    font-size: 1.1rem;
}
.symp-content2 {
    text-align: justify;
    /* padding: 15px; */
    font-family: 'Gulzar', serif;
    font-size: 1.3vw;
}

.question {
    font-family: 'Mingzat', sans-serif;
    text-align: center;
    font-size: 1.8rem;
    font-weight: bold;
    text-decoration: underline;
}

tr {
    border: solid;
    border-width: 2px 0;
}

td {
    width: 50%;
    padding: 20px;
}
li{
    text-align: left;
}