<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Transliterate</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css" rel="stylesheet"
        integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor" crossorigin="anonymous">
    <link rel="apple-touch-icon" sizes="180x180" href="static/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="static/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="static/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="static/favicon_io/site.webmanifest">
    <link rel="stylesheet" type="text/css" href="/static/css/styles.css">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=IBM+Plex+Sans&display=swap" rel="stylesheet">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <style type="text/css">
        textarea {
            width: 100%;
            height: 150px;
            padding: 12px 20px;
            box-sizing: border-box;
            border: 2px solid #ccc;
            border-radius: 4px;
            background-color: white;
            font-size: 16px;
            resize: none;
        }

        .holder {
            background-color: #4c474c;
            background-image: -webkit-gradient(linear, left bottom, left top, from(#ee7bee), to(#6fe1f5));
            background-image: -o-linear-gradient(bottom, #D9AFD9 0%, #6fe1f5 100%);
            background-image: linear-gradient(0deg, #D9AFD9 0%, #6fe1f5 100%);
            border-radius: 50px;
            width: 50%;
            margin: auto;
        }

        [data-role="controls"]>button {
            margin: 50px auto;
            outline: none;
            display: block;
            border: none;
            background-color: #D9AFD9;
            background-image: -webkit-gradient(linear, left bottom, left top, from(#D9AFD9), to(#97D9E1));
            background-image: -o-linear-gradient(bottom, #D9AFD9 0%, #97D9E1 100%);
            background-image: linear-gradient(0deg, #D9AFD9 0%, #97D9E1 100%);
            width: 100px;
            height: 100px;
            border-radius: 50%;
            text-indent: -1000em;
            cursor: pointer;
            -webkit-box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
                0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
            box-shadow: 0px 5px 5px 2px rgba(0, 0, 0, 0.3) inset,
                0px 0px 0px 30px #fff, 0px 0px 0px 35px #333;
        }

        [data-role="controls"]>button:hover {
            background-color: #ee7bee;
            background-image: -webkit-gradient(linear, left bottom, left top, from(#ee7bee), to(#6fe1f5));
            background-image: -o-linear-gradient(bottom, #ee7bee 0%, #6fe1f5 100%);
            background-image: linear-gradient(0deg, #ee7bee 0%, #6fe1f5 100%);
        }

        [data-role="controls"]>button[data-recording="true"] {
            background-color: #ff2038;
            background-image: -webkit-gradient(linear, left bottom, left top, from(#ff2038), to(#b30003));
            background-image: -o-linear-gradient(bottom, #ff2038 0%, #b30003 100%);
            background-image: linear-gradient(0deg, #ff2038 0%, #b30003 100%);
        }

        [data-role="recordings"]>.row {
            width: auto;
            height: auto;
            padding: 20px;
        }

        [data-role="recordings"]>.row>audio {
            outline: none;
        }

        [data-role="recordings"]>.row>a {
            display: inline-block;
            text-align: center;
            font-size: 20px;
            line-height: 50px;
            vertical-align: middle;
            width: 50px;
            height: 50px;
            border-radius: 20px;
            color: #fff;
            font-weight: bold;
            text-decoration: underline;
            background-color: #0093E9;
            background-image: -webkit-gradient(linear, left bottom, left top, from(#0093E9), to(#80D0C7));
            background-image: -o-linear-gradient(bottom, #0093E9 0%, #80D0C7 100%);
            background-image: linear-gradient(0deg, #0093E9 0%, #80D0C7 100%);
            margin-left: 20px;
            cursor: pointer;
        }

        [data-role="recordings"]>.row>a:hover {
            text-decoration: none;
        }

        [data-role="recordings"]>.row>a:active {
            background-image: -webkit-gradient(linear, left top, left bottom, from(#0093E9), to(#80D0C7));
            background-image: -o-linear-gradient(top, #0093E9 0%, #80D0C7 100%);
            background-image: linear-gradient(180deg, #0093E9 0%, #80D0C7 100%);
        }
    </style>
    <script type="text/javascript" src="https://code.jquery.com/jquery.min.js"></script>
    <script src="https://markjivko.com/dist/recorder.js"></script>
    <script>
        jQuery(document).ready(function () {
            var $ = jQuery;
            var myRecorder = {
                objects: {
                    context: null,
                    stream: null,
                    recorder: null
                },
                init: function () {
                    if (null === myRecorder.objects.context) {
                        myRecorder.objects.context = new (
                            window.AudioContext || window.webkitAudioContext
                        );
                    }
                },
                start: function () {
                    var options = { audio: true, video: false };
                    navigator.mediaDevices.getUserMedia(options).then(function (stream) {
                        myRecorder.objects.stream = stream;
                        myRecorder.objects.recorder = new Recorder(
                            myRecorder.objects.context.createMediaStreamSource(stream),
                            { numChannels: 1 }
                        );
                        myRecorder.objects.recorder.record();
                    }).catch(function (err) { });
                },
                stop: function (listObject) {
                    if (null !== myRecorder.objects.stream) {
                        myRecorder.objects.stream.getAudioTracks()[0].stop();
                    }
                    if (null !== myRecorder.objects.recorder) {
                        myRecorder.objects.recorder.stop();

                        // Validate object
                        if (null !== listObject
                            && 'object' === typeof listObject
                            && listObject.length > 0) {
                            // Export the WAV file
                            myRecorder.objects.recorder.exportWAV(function (blob) {
                                var url = (window.URL || window.webkitURL)
                                    .createObjectURL(blob);

                                // Prepare the playback
                                var audioObject = $('<audio controls></audio>')
                                    .attr('src', url);

                                // Prepare the download link
                                var downloadObject = $('<a>&#9660;</a>')
                                    .attr('href', url)
                                    .attr('download', new Date().toUTCString() + '.wav');

                                // Wrap everything in a row
                                var holderObject = $('<div class="row"></div>')
                                    .append(audioObject)
                                    .append(downloadObject);

                                // Append to the list
                                listObject.append(holderObject);
                            });
                        }
                    }
                }
            };

            // Prepare the recordings list
            var listObject = $('[data-role="recordings"]');

            // Prepare the record button
            $('[data-role="controls"] > button').click(function () {
                // Initialize the recorder
                myRecorder.init();

                // Get the button state 
                var buttonState = !!$(this).attr('data-recording');

                // Toggle
                if (!buttonState) {
                    $(this).attr('data-recording', 'true');
                    myRecorder.start();
                } else {
                    $(this).attr('data-recording', '');
                    myRecorder.stop(listObject);
                }
            });
        });
    </script>
</head>

<body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
        integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
        crossorigin="anonymous"></script>
    <div id="mobile">
        <nav class="navbar navbar-expand-lg bg-light navbar-dark bg-dark navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="static\images\logo.png" alt="" width="30" height="24"
                        class="d-inline-block align-text-top">
                    Transliterate
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="https://github.com/SohamRatnaparkhi/Transliterate/blob/main/Documentation/guide.md">Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="https://github.com/SohamRatnaparkhi/Transliterate/blob/main/Documentation/features.md">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="https://github.com/SohamRatnaparkhi/Transliterate/blob/main/Documentation/LanguageSupport.md">Supported
                                languages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#contact-details">Contact us</a>
                        </li>

                    </ul>


                </div>
            </div>
        </nav>
        <p class="header">
            <br>
            WELCOME TO TRANSLITERATE !
        </p>
        <p class="info">
            TRANSLITERATE is a free online tool that helps you to translate any audio/text to any of the 106 supported
            languages.
            <br>
            <hr>
        </p>
    </div>

    <div id="top">
        <nav class="navbar navbar-expand-lg bg-light navbar-dark bg-dark navbar-fixed-top">
            <div class="container-fluid">
                <a class="navbar-brand" href="/">
                    <img src="static\images\logo.png" alt="" width="30" height="24"
                        class="d-inline-block align-text-top">
                    Transliterate
                </a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse"
                    data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                    aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarSupportedContent">
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="https://github.com/SohamRatnaparkhi/Transliterate/blob/main/Documentation/guide.md">Guide</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="https://github.com/SohamRatnaparkhi/Transliterate/blob/main/Documentation/features.md">Features</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page"
                                href="https://github.com/SohamRatnaparkhi/Transliterate/blob/main/Documentation/LanguageSupport.md">Supported
                                languages</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="#contact-details">Contact us</a>
                        </li>

                    </ul>


                </div>
            </div>
        </nav>

        <div id="carouselExampleCaptions" class="carousel slide" data-bs-ride="carousel">
            <div class="carousel-indicators">
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="0" class="active"
                    aria-current="true" aria-label="Slide 1"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="1"
                    aria-label="Slide 2"></button>
                <button type="button" data-bs-target="#carouselExampleCaptions" data-bs-slide-to="2"
                    aria-label="Slide 3"></button>
            </div>
            <div class="carousel-inner">
                <div class="carousel-item active">
                    <img src="static\images\carousel\cr5.jpg" class="d-block w-100" alt="..." height="700">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="C-HEADING carousel-heading">WELCOME TO</h1>
                        <h1 class="C-HEADING carousel-heading"><B>TRANSLITERATE</B></h1>
                        <button type="button" class="btn btn-warning">Free</button>
                        <button type="button" class="btn btn-danger">Online</button>
                        <button type="button" class="btn btn-success">Open-source</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="static\images\carousel\cr1.jpg" class="d-block w-100" alt="..." height="700">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="C-HEADING carousel-heading"> WELCOME TO</h1>
                        <h1 class="C-HEADING carousel-heading"><B>TRANSLITERATE</B></h1>
                        <button type="button" class="btn btn-warning">TRANSCRIBE</button>
                        <br><br>
                        <button type="button" class="btn btn-danger">VOICE</button>
                        <button type="button" class="btn btn-success">TEXT</button>
                    </div>
                </div>
                <div class="carousel-item">
                    <img src="static\images\carousel\cr8.png" class="d-block w-100" alt="..." height="700">
                    <div class="carousel-caption d-none d-md-block">
                        <h1 class="C-HEADING carousel-heading">WELCOME TO</h1>
                        <h1 class="C-HEADING carousel-heading"><B>TRANSLITERATE</B></h1>
                        <button type="button" class="btn btn-warning">Accurate</button>
                        <br><br>
                        <button type="button" class="btn btn-danger">Free</button>
                        <button type="button" class="btn btn-success">Online</button>
                    </div>

                </div>
            </div>
            <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Previous</span>
            </button>
            <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleCaptions"
                data-bs-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="visually-hidden">Next</span>
            </button>
        </div>

    </div>
    <hr>

    <div class="tester">
        <a class="btn btn-primary btn-lg btn-block w-100" href="#model1">🎇 TRANSLATE NOW 🎇</a>
    </div>
    <div id="mid">
        <br>
        <div class="container">

            <div class="row row-cols-1 row-cols-sm-2 row-cols-md-3 g-3">
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static\images\cards\img2.jpg" alt="" class="card-images">

                        <div class="card-body">
                            <p class="card-content"><a
                                    href="https://github.com/SohamRatnaparkhi/Transliterate/blob/main/Documentation/guide.md"
                                    class="btn btn-outline-success" target="_blank">How to use our app?</a></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static\images\cards\img1.jpg" alt="" class="card-images">

                        <div class="card-body">
                            <p class="card-content"><a
                                    href="https://github.com/SohamRatnaparkhi/Transliterate/blob/main/Documentation/features.md"
                                    class="btn btn-outline-danger" target="_blank">Major Features</a></p>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card shadow-sm">
                        <img src="static\images\cards\img3.jpg" alt="" class="card-images">

                        <div class="card-body">
                            <p class="card-content"><a
                                    href="https://github.com/SohamRatnaparkhi/Transliterate/blob/main/Documentation/motive.md"
                                    class="btn btn-outline-success" target="_blank">Motivation</a></p>
                        </div>
                    </div>
                </div>
            </div>

        </div>

        <div id="mid2">
            <br><br>
            <h4>🛠 REQUIREMENTS:</h4>
            <ul>
                <li class="req">Pre-recorded audio file in <b>'.wav'</b> format only.</li>
                <li class="req">This website provides audio recording facility also.</li>
                <li class="req">For text translation copy/write the required text in the text box.</li>
            </ul>
            <h4>🔍 HOW DOES THIS TOOL WORK ?</h4>
            <ul>
                <li class="req">This tool works with the help of various API's provided by Google.</li>
                <li class="req">This is a Flask app. Flask is a framework in Python Programming language.</li>
                <li class="req">Hope your experiance is great while using this tool.</li>
            </ul>
            <div class="alert alert-warning" role="alert">
                Our main motivation behind making this tool was to help millions of those online learners who were
                troubled due to language barrier. This tool can transcribe and translate on over 100 languages including
                English, Hindi, French, Spanish, German, Italian, Portuguese, Russian, Japanese, Chinese, Arabic,
                Turkish, and many more. Feal free to contact us if you have any queries.
                <br>
                Follow this link for
                <a href="https://github.com/SohamRatnaparkhi/IEEEMUC-Transliterate">more information</a> ⬅
            </div>
        </div>
        <div id="model1">
            <br>
            <a class="btn btn-outline-info btn-lg btn-block forms-model" type="button"
                href="https://github.com/SohamRatnaparkhi/Transliterate/blob/main/Documentation/LanguageSupport.md">🎇
                SUPPORTED LANGUAGES 🎇</a>
            <br><br>
            <a class="btn btn-outline-success btn-lg btn-block forms-model" type="button"
                href="https://github.com/SohamRatnaparkhi/Transliterate/blob/main/Documentation/guide.md">🎇 GUIDE 🎇</a>
            <br><br>
            <div class="row row-cols-1 row-cols-md-1 mb-1  text-left forms-model">
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal text-center">Audio translation</h4>
                        </div>
                        <div class="card-body">
                            <div class="holder">
                                <div data-role="controls">
                                    <button>Record</button>
                                </div>
                                <div data-role="recordings"></div>
                            </div>
                            <p class="alert alert-info info">
                                Click the middle button to start recording your voice or upload the pre-existing file.
                                <br>
                                Button turns red when recording starts.
                            </p>
                            <form method="POST" action="{{url_for('translate_speech')}}" enctype="multipart/form-data">
                                <label class="box-labels">AudioFile:</label>
                                <input type="file" name='file' class='btn-file-choose' required><br><br>
                                <label class="box-labels">Select a language from the following drop-down menu :</label>

                                <select id="langList" name="target_language" required>
                                    <option class="opt1" value="Available languages:"> </option>
                                </select>


                                <script src="..\static\js\index.inputForm.js"></script>
                                <br>
                                <br>
                                <input type="submit" class="btn btn-warning text-center">
                            </form>
                            <br>
                            <a href="/" class="btn btn-outline-danger" tabindex="-1" role="button"
                                aria-disabled="true">Reset</a>
                        </div>
                    </div>
                </div>
                <div class="col">
                    <div class="card mb-4 rounded-3 shadow-sm">
                        <div class="card-header py-3">
                            <h4 class="my-0 fw-normal text-center">Text translation</h4>
                        </div>
                        <div class="card-body">

                            <form method="POST" autocomplete="false" action="{{url_for('translate_text')}}"
                                enctype="multipart/form-data">
                                <label class="box-labels">Enter your text :</label> <br>
                                <textarea autocomplete="false" type="text" name="user_text" class="form-name"
                                    required></textarea><br>
                                <label class="box-labels">Select a language from the following drop-down menu :</label>
                                <!-- <input list="langList" > -->

                                <select id="langList2" name="target_language" required>
                                    <option class="opt1" value="Available languages:"> </option>
                                </select>

                                <script src="..\static\js\index.inputForm.js"></script>
                                <br>
                                <br>
                                <input type="submit" class="btn btn-warning text-center">
                            </form>
                            <br>
                            <a href="/" class="btn btn-outline-danger" tabindex="-1" role="button"
                                aria-disabled="true">Reset</a>
                        </div>
                    </div>
                </div>
            </div>

        </div>
        <div id="end">
            <br><br>
            <br><br>
            <footer class="bg-dark text-center text-white">
                <div class="container p-4">
                    <!-- Section: Social media -->
                    <section class="mb-4" id="contact-details">
                        <a href="https://linkfree.eddiehub.io/SohamRatnaparkhi" target="_blank">CONTACT US! - (Soham
                            Ratnaparkhi)</a>
                        <br>
                        <a href="https://www.linkedin.com/in/chaitanya-deshmukh-300907223/" target="_blank">CONTACT US!
                            - (Chaitanya Deshmukh)</a>
                        <!-- Twitter -->
                    </section>
                    <!-- Section: Social media -->


                    <!-- Section: Text -->
                    <section class="mb-4">
                        <p>
                            We are undergraduate students studying at VIT, and IIIT Pune.
                        </p>
                    </section>
                    <!-- Section: Text -->

                    <!-- Copyright -->
                    <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
                        ©
                        <a class="text-white" href="https://github.com/SohamRatnaparkhi/Transliterate">TRANSLITERATE</a>
                    </div>
                    <!-- Copyright -->
            </footer>
            <!-- Footer -->
        </div>
</body>

</html>